<footer class="page-footer">
  <section class="footer-top">
    <a class="footer-top__tel-link base-link" href="tel:+7 (495) 150-00-00">+7 (495) 150-00-00</a>
    <button class="footer-top__modal-button modal-with-form__button base-button">
      <svg class="footer-top__modal-button-icon" width="10" height="13" aria-hidden="true">
        <use href="img/icon/sprite.svg#phone2-icon"></use>
      </svg>
      <span class="footer-top__modal-button-text">Перезвонить вам?</span>
    </button>
    <div class="footer-top__socials">
      <a class="footer-top__socials-link base-link" href="#">
        <svg class="footer-top__socials-link-icon" width="25" height="25" aria-hidden="true">
          <use href="img/icon/sprite.svg#socials1-icon"></use>
        </svg>
      </a>
      <a class="footer-top__socials-link base-link" href="#">
        <svg class="footer-top__socials-link-icon" width="25" height="25" aria-hidden="true">
          <use href="img/icon/sprite.svg#socials2-icon"></use>
        </svg>
      </a>
      <a class="footer-top__socials-link base-link" href="#">
        <svg class="footer-top__socials-link-icon" width="25" height="25" aria-hidden="true">
          <use href="img/icon/sprite.svg#socials3-icon"></use>
        </svg>
      </a>
    </div>
  </section>
  <section class="footer-bottom"></section>
</footer>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="js/index.min.js?v=1.0"></script>

</body>

</html>