<footer class="page-footer">
  <section class="footer-top">
    <div class="footer-top__container">
      <a class="footer-top__tel-link base-link" href="tel:+7 (495) 150-00-00">+7 (495) 150-00-00</a>
      <button class="footer-top__modal-button modal-with-form__button base-button">
        <svg class="footer-top__modal-button-icon" width="10" height="13" aria-hidden="true">
          <use href="img/icon/sprite.svg#phone-icon"></use>
        </svg>
        <span class="footer-top__modal-button-text">Перезвонить вам?</span>
      </button>
      <div class="footer-top__socials">
        <a class="footer-top__socials-link base-link" href="#">
          <img class="footer-top__socials-link-icon" src="img/image/new-socials-1.svg" width="32" height="32" alt="#">
        </a>
        <a class="footer-top__socials-link base-link" href="#">
          <img class="footer-top__socials-link-icon" src="img/image/new-socials-2.svg" width="32" height="32" alt="#">
        </a>
        <a class="footer-top__socials-link base-link" href="#">
          <img class="footer-top__socials-link-icon" src="img/image/new-socials-3.svg" width="32" height="32" alt="#">
        </a>
      </div>
    </div>
  </section>
  <section class="footer-bottom">
    <div class="footer-bottom__container base-container">
      <div class="footer-bottom__headline">
        <div class="footer-bottom__nav">
          <div class="footer-bottom__nav-item">
            <h3 class="footer-bottom__nav-item-title base-title">Карта сайта</h3>
            <ul class="footer-bottom__nav-item-list base-list">
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="index.html">Главная</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="page-about.html">О компании</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="page-categories.html">Виды работ</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="archive.html">Изделия из металла</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="archive.html">Поставка оборудования</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="page-projects.html">Реализованные проекты</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="page-contacts.html">Контакты</a>
              </li>
            </ul>
          </div>

          <div class="footer-bottom__nav-item">
            <h3 class="footer-bottom__nav-item-title base-title">Виды работ</h3>
            <ul class="footer-bottom__nav-item-list base-list">
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="page-categories.html#1">Проектирование</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="single.html">Противопожарное проектирование</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="single.html">Проектирование светопрозрачных конструкций</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="single.html">Стено-резочные машины</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="page-categories.html#2">Алмазное бурение</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="single.html">Резка</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="page-categories.html#3">Алмазное сверление</a>
              </li>
            </ul>
          </div>

          <div class="footer-bottom__nav-item">
            <h3 class="footer-bottom__nav-item-title base-title">Изделия из металла</h3>
            <ul class="footer-bottom__nav-item-list base-list">
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="single.html">Сварная сетка арматура, проволока</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="single.html">Скобогибочные изделия</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="single.html">Металлопроекат</a>
              </li>
              <li class="footer-bottom__nav-list-item">
                <a class="footer-bottom__nav-list-link base-link" href="single.html">Сетка рабица - оцинкованная сетка</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer-bottom__contacts">
          <h3 class="footer-bottom__contacts-title base-title">Контакты</h3>
          <ul class="footer-bottom__contacts-list base-list">
            <li class="footer-bottom__contacts-list-item">
              <span class="footer-bottom__contacts-list-content">г. Москва, 115432, проспект<br> Верндаского, 18 к3</span>
            </li>
            <li class="footer-bottom__contacts-list-item">
              <a class="footer-bottom__contacts-list-content base-link" href="tel:+7 (495) 150-00-00">+7 (495) 150-00-00</a>
            </li>
            <li class="footer-bottom__contacts-list-item">
              <a class="footer-bottom__contacts-list-content base-link" href="mailto:info@axelior.ru">info@axelior.ru</a>
            </li>
          </ul>
          <div>
            <span class="footer-bottom__contacts-button-caption">Появились вопросы?</span>
            <button class="footer-bottom__contacts-button modal-with-form__button hover-blue base-button" type="button">
              Напишите нам
            </button>
          </div>
        </div>
      </div>

      <div class="footer-bottom__underline">
        <div class="footer-bottom__underline-info base-par">
          <p>
            © 2023 «Axelior». Все права защищены. Опубликованная на данном сайте информация носит исключительно информационный характер и не является публичной офертой, определяемой положениями ст. 437 Гражданского кодекса Российской Федерации.ПАО Сбербанк.
            Генеральная лицензия Банка России на осуществление банковских операций № 1481 от 11.08.2015 г.
          </p>
        </div>
        <a class="footer-bottom__underline-isart base-link" href="#">
          <svg class="footer-bottom__underline-isart-icon" width="26" height="10" aria-hidden="true">
            <use href="img/icon/sprite.svg#isart-icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </section>
</footer>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="js/index.min.js?v=1.0"></script>

</body>

</html>