<section class="about">
  <div class="about__container base-container">
    <p class="about__headliner base-par">
      Мы - компания, специализирующаяся на поставке и монтаже в первую очередь инженерных систем, а во вторую - строительстве. Одновременно с этим есть несколько сопутствующих направлений деятельности компании.
    </p>
    <div class="about__content">
      <p class="about__content-item base-par">
        Мы - компания, специализирующаяся на поставке и монтаже в первую очередь инженерных систем, а во вторую - строительстве. Одновременно с этим есть несколько сопутствующих направлений деятельности компании.
      </p>
      <p class="about__content-item base-par">
        Мы - компания, специализирующаяся на поставке и монтаже в первую очередь инженерных систем, а во вторую - строительстве. Одновременно с этим есть несколько сопутствующих направлений деятельности компании.
      </p>
    </div>
    <div class="about__graphic">
      <figure class="about__image base-figure">
        <img class="about__img" src="img/image/about1.png" width="360" height="315" alt="#">
      </figure>
      <figure class="about__image base-figure">
        <img class="about__img" src="img/image/about2.png" width="360" height="315" alt="#">
      </figure>
      <figure class="about__image base-figure">
        <img class="about__img" src="img/image/about3.png" width="360" height="315" alt="#">
      </figure>
    </div>
  </div>
</section>