<section class="heading">

  <style>
    .heading {
      background: url('img/image/@@bg') #0b0921;
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>

  <div class="heading__container">
    <div class="heading__graphic">
      <div class="heading__graphic-circle"></div>
      <button class="heading__graphic-button base-button" type="button">
        <span class="heading__graphic-button-text">Консультация<br> инженера</span>
        <svg class="heading__graphic-button--icon" width="20" height="20" aria-hidden="true">
          <use href="img/icon/sprite.svg#phone2-icon"></use>
        </svg>
      </button>
    </div>

    <div class="heading__content">
      <div class="heading__bread">
        <a class="heading__bread-home base-link" href="#"></a>
        <a class="heading__bread-current base-link" href="#"></a>
      </div>
    </div>
  </div>
</section>