<section class="heading">

  <style>
    .heading {
      background: url('img/image/@@bg') #0b0921;
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>

  <div class="heading__container">
    <div class="heading__graphic">
      <div class="heading__graphic-circle"></div>
    </div>

    <div class="heading__content">
      <div class="heading__content-bread">
        <a class="heading__content-bread-home base-link" href="index.html">Главная</a>
        <span class="heading__content-bread-current">@@current</span>
      </div>
      <h2 class="heading__content-title base-title">@@title</h2>
      <button class="heading__content-button hover-blue base-button" type="button">
        <span class="heading__content-button-text">Консультация инженера</span>
        <svg class="heading__content-button-icon" width="20" height="20" aria-hidden="true">
          <use href="img/icon/sprite.svg#phone2-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</section>