<nav class="side-menu">
  <a class="side-menu__logo-link base-link" href="index.html">
    <svg class="side-menu__logo-icon" width="166" height="46" aria-hidden="true">
      <use href="img/icon/sprite.svg#logo-icon"></use>
    </svg>
  </a>

  <nav class="side-menu__main-nav">
    <div class="side-menu__main-nav-wrapper">
      <ul class="side-menu__main-nav-list base-list">
        <li class="side-menu__main-nav-item current_page_item">
          <a class="side-menu__main-nav-link base-link" href="index.html">Главная</a>
        </li>
        <li class="side-menu__main-nav-item">
          <a class="side-menu__main-nav-link base-link" href="page-about.html">О компании</a>
        </li>
        <li class="side-menu__main-nav-item side-menu__main-nav-select">
          <a class="side-menu__main-nav-link base-link" href="#">Проектирование</a>
          <ul class="side-menu__main-nav-sublist base-list">
            <li class="side-menu__main-nav-subitem">
              <a class="side-menu__main-nav-sublink base-link" href="#">
                Противопожарное проектирование</a>
            </li>
            <li class="side-menu__main-nav-subitem">
              <a class="side-menu__main-nav-sublink base-link" href="#">
                Проектирование «Свето-прозрачных конструкций»
              </a>
            </li>
            <li class="side-menu__main-nav-subitem">
              <a class="side-menu__main-nav-sublink base-link" href="#">
                Стено-резочные машины
              </a>
            </li>
          </ul>
        </li>
        <li class="side-menu__main-nav-item side-menu__main-nav-select">
          <a class="side-menu__main-nav-link base-link" href="#">Алмазное бурение</a>
          <ul class="side-menu__main-nav-sublist base-list">
            <li class="side-menu__main-nav-subitem">
              <a class="side-menu__main-nav-sublink base-link" href="#">
                Резка
              </a>
            </li>
          </ul>
        </li>
        <li class="side-menu__main-nav-item">
          <a class="side-menu__main-nav-link base-link" href="#">Алмазное сверление</a>
        </li>
        <li class="side-menu__main-nav-item">
          <a class="side-menu__main-nav-link base-link" href="#">Изделия из металла</a>
        </li>
        <li class="side-menu__main-nav-item">
          <a class="side-menu__main-nav-link base-link" href="#">Поставка оборудования</a>
        </li>
        <li class="side-menu__main-nav-item">
          <a class="side-menu__main-nav-link base-link" href="#">Партнерство</a>
        </li>
        <li class="side-menu__main-nav-item">
          <a class="side-menu__main-nav-link base-link" href="#">Реализованные проекты</a>
        </li>
        <li class="side-menu__main-nav-item">
          <a class="side-menu__main-nav-link base-link" href="page-contacts.html">Контакты</a>
        </li>
      </ul>

      <div class="side-menu__contacts">
        <a class="side-menu__tel-link base-link" href="tel:+7 (495) 150-00-00">+7 (495) 150-00-00</a>
        <button class="side-menu__button modal-with-form__button base-button" type="button">
          <svg class="side-menu__button-icon" width="10" height="13" aria-hidden="true">
            <use href="img/icon/sprite.svg#phone-icon"></use>
          </svg>
          <span class="side-menu__button-text">Перезвонить вам?</span>
        </button>
        <div class="side-menu__contacts-item">
          <svg class="side-menu__contacts-item-icon" width="13" height="16" aria-hidden="true">
            <use href="img/icon/sprite.svg#location-icon"></use>
          </svg>
          <span class="side-menu__contacts-item-text">г. Москва, 115432, проспект Верндаского, 18 к3</span>
        </div>
        <div class="side-menu__contacts-item">
          <svg class="side-menu__contacts-item-icon" width="16" height="13" aria-hidden="true">
            <use href="img/icon/sprite.svg#email-icon"></use>
          </svg>
          <a class="side-menu__contacts-item-text base-link" href="mailto:info@axelior.ru">info@axelior.ru</a>
        </div>
      </div>
    </div>
  </nav>
</nav>