<nav class="side-menu">

  <a class="side-menu__logo-link base-link" href="index.html">
    <svg class="side-menu__logo-icon" width="166" height="46" aria-hidden="true">
      <use href="img/icon/sprite.svg#logo-icon"></use>
    </svg>
  </a>

  <nav class="side-menu__main-nav">
    <ul class="side-menu__main-nav-list base-list">
      <li class="side-menu__main-nav-item current-menu-item">
        <a class="side-menu__main-nav-link base-link" href="index.html">Главная</a>
      </li>
      <li class="side-menu__main-nav-item">
        <a class="side-menu__main-nav-link base-link" href="page-about.html">О компании</a>
      </li>
      <li class="side-menu__main-nav-item menu-item-has-children">
        <a class="side-menu__main-nav-link page-categories-link base-link" href="page-categories.html#1">Проектирование</a>
        <ul class="sub-menu base-list">
          <li class="side-menu__main-nav-item">
            <a class="side-menu__main-nav-link base-link" href="page-categories.html">
              Противопожарное проектирование</a>
          </li>
          <li class="side-menu__main-nav-item">
            <a class="side-menu__main-nav-link base-link" href="page-categories.html">
              Проектирование «Свето-прозрачных конструкций»
            </a>
          </li>
          <li class="side-menu__main-nav-item">
            <a class="side-menu__main-nav-link base-link" href="page-categories.html">
              Стено-резочные машины
            </a>
          </li>
        </ul>
      </li>
      <li class="side-menu__main-nav-item menu-item-has-children">
        <a class="side-menu__main-nav-link page-categories-link base-link" href="page-categories.html#2">Алмазное бурение</a>
        <ul class="sub-menu base-list">
          <li class="side-menu__main-nav-item">
            <a class="side-menu__main-nav-link base-link" href="page-categories.html">
              Резка
            </a>
          </li>
        </ul>
      </li>
      <li class="side-menu__main-nav-item">
        <a class="side-menu__main-nav-link page-categories-link base-link" href="page-categories.html#3">Алмазное сверление</a>
      </li>
      <li class="side-menu__main-nav-item">
        <a class="side-menu__main-nav-link base-link" href="archive.html">Изделия из металла</a>
      </li>
      <li class="side-menu__main-nav-item">
        <a class="side-menu__main-nav-link base-link" href="archive.html">Поставка оборудования</a>
      </li>
      <li class="side-menu__main-nav-item">
        <a class="side-menu__main-nav-link base-link" href="page-projects.html">Реализованные проекты</a>
      </li>
      <li class="side-menu__main-nav-item">
        <a class="side-menu__main-nav-link base-link" href="archive-news.html">Новости</a>
      </li>
      <li class="side-menu__main-nav-item">
        <a class="side-menu__main-nav-link base-link" href="page-contacts.html">Контакты</a>
      </li>
    </ul>

    <div class="side-menu__contacts">
      <a class="side-menu__contacts-phone-link base-link" href="#">
        <div>
          <svg class="side-menu__contacts-phone-icon" width="10" height="10" aria-hidden="true">
            <use href="img/icon/sprite.svg#phone2-icon"></use>
          </svg>
        </div>
        <span class="side-menu__contacts-phone-text">+7 (495) 150-00-00</span>
      </a>
      <button class="side-menu__contacts-button modal-with-form__button base-button">Перезвонить вам?</button>
      <span class="side-menu__contacts-address">
        г. Москва, 115432, проспект Верндаского, 18 к3
      </span>
      <div class="side-menu__contacts-socials">
        <a class="side-menu__contacts-socials-link base-link" href="#">
          <img class="side-menu__contacts-socials-img" src="img/image/new-socials-1.svg" width="32" height="32" alt="#">
        </a>
        <a class="side-menu__contacts-socials-link base-link" href="#">
          <img class="side-menu__contacts-socials-img" src="img/image/new-socials-2.svg" width="32" height="32" alt="#">
        </a>
        <a class="side-menu__contacts-socials-link base-link" href="#">
          <img class="side-menu__contacts-socials-img" src="img/image/new-socials-3.svg" width="32" height="32" alt="#">
        </a>
      </div>
    </div>

  </nav>
</nav>

<script>
  // --- Проверка двойного активного класса
  function checkDoubleActive(element) {
    if (document.querySelectorAll(`.${element}`).length <= 1) {
      return;
    }
    else {
      let current_hash = window.location.hash.split('#')[1];
      let target_links = Array.from(document.querySelectorAll(`.${element} a`)).filter(item => item.href.split('').includes('#'));

      target_links.forEach((link_item) => {
        if (link_item.href.split('#')[1] === current_hash) {
          target_links.forEach((link_value) => link_value.parentNode.classList.remove(element));
          link_item.parentNode.classList.add(element);
        }
      })
    }
  }

  checkDoubleActive('current_page_item');
  checkDoubleActive('current-menu-item');
</script>