@use "../mixins";

.index-about {
  margin: 80px 0;

  .about {
    margin: 0;
  }

  & .about__content {
    margin: 0;
  }

  & .about__graphic {
    display: none;
  }

  @include mixins.respond-to(notDesktop) {
    margin: 40px 0 0 0;

    & .about {
      margin: 0 5%;
    }
  }

  @include mixins.respond-to(desktopS) {
    & .about {
      margin: 0;
    }
  }
}

.about {
  padding: 0 260px 0 30px;
  margin: 60px 0 80px 0;

  @include mixins.respond-to(notDesktop) {
    width: 90%;

    padding: 0;
    margin: 40px 5%;
  }

  @include mixins.respond-to(onlyDesktopS) {
    width: 90%;

    padding: 0;
    margin: 40px 5%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__headliner {
    display: inline-block;

    // max-width: 840px;

    font-weight: 700;
    font-size: 18px;
    line-height: 32px;

    color: #000000;

    margin: 0 0 20px 0;

    @include mixins.respond-to(notDesktop) {
      font-weight: 500;
      line-height: 130%;

      margin: 0 0 30px 0;
    }
  }

  &__content {
    display: flex;
    gap: 40px;

    // max-width: 840px;

    margin: 0 0 60px 0;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
      gap: 10px;

      margin: 0 0 20px 0;
    }
  }

  &__content-item {
    display: inline-block;

    // max-width: 400px;

    font-weight: 350;
    font-size: 13px;
    line-height: 21px;
    color: #000000;

    @include mixins.respond-to(notDesktop) {
      max-width: 100%;

      font-size: 16px;
    }
  }

  &__graphic {
    @include mixins.respond-to(notDesktop) {
      width: 100%;
    }

    @include mixins.respond-to(desktopS) {
      display: grid;
      grid-template: 1fr / repeat(3, 1fr);
      gap: 30px;
    }
  }

  @include mixins.respond-to(notDesktop) {
    &__image:nth-child(1) {
      width: 100%;

      & .about__img {
        width: 100%;
        max-height: 315px;
        object-fit: cover;
      }
    }

    &__image:nth-child(2) {
      display: none;
    }

    &__image:nth-child(3) {
      display: none;
    }
  }

  &__img {
    @include mixins.respond-to(desktopS) {
      width: 100%;
      height: auto;
    }

    @include mixins.respond-to(desktopM) {
      width: 360px;
      height: 315px;
    }
  }
}