@use "../mixins";

.main-content {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  @include mixins.respond-to(notDesktop) {
    width: 100%;

    transform: translateX(200px);
    transition: transform 0.3s;

    &--active {
      transform: none;
      transition: transform 0.3s;
    }
  }

  @include mixins.respond-to(desktopS) {
    width: 83%;
  }
}