@use "../mixins";

.main-content {
  display: flex;
  flex-direction: column;

  transform: translateX(200px);
  transition: transform 0.3s;

  @include mixins.respond-to(notDesktop) {
    &--active {
      transform: translateX(0);
      transition: transform 0.3s;
    }
  }

  @include mixins.respond-to(desktopS) {
    width: 83%;
  }
}