@use "../mixins";

.page-footer {
  display: flex;
  flex-direction: column;

  flex-shrink: 0;

  margin: 0 0 0 auto;

  @include mixins.respond-to(notDesktop) {
    margin: 40px 0 0 0;
  }

  @include mixins.respond-to(desktopS) {
    width: 83%;
  }
}