@use "../mixins";

.projects {
  padding: 0 30px;
  margin: 0 0 100px 0;

  @include mixins.respond-to(notDesktop) {
    padding: 0;
    margin: 40px 0 0 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 27px;

    @include mixins.respond-to(notDesktop) {
      gap: 20px;

      width: 90%;

      margin: 0 5%;
    }
  }

  &__slider {
    position: relative;

    width: 100%;
  }

  &__slider-slide {
    width: 100%;
  }

  &__slider-slide-img {
    @include mixins.respond-to(notDesktop) {
      height: 400px;
    }
  }

  &__slider-arrows {
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    height: fit-content;

    z-index: 10;

    & .swiper-button-disabled {
      user-select: none;
      pointer-events: none;
    }

    & .swiper-button-disabled .projects__slider-arrow-icon {
      filter: invert(78%) sepia(0%) saturate(21%) hue-rotate(171deg) brightness(91%) contrast(82%);
    }
  }

  &__slider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;
    background-color: var(--color-white);
    border: 1px solid #ACACAC;
    cursor: pointer;

    transition: background-color 0.3s;

    &:hover {
      background-color: var(--color-amaranth);

      transition: background-color 0.3s;

      & .projects__slider-arrow-icon {
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(276deg) brightness(106%) contrast(103%);

        transition: filter 0.3s;
      }
    }

    &:nth-child(1) {
      border-right: none;
    }
  }

  &__slider-arrow-icon {
    transition: filter 0.3s;
  }

  &__slider-pagination {
    display: none;

    @include mixins.respond-to(notDesktop) {
      display: block;
    }
  }
}