@use "../mixins";

.side-menu {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  background-color: var(--color-white);
  padding: 30px 0 30px 32px;

  z-index: 100;

  @include mixins.respond-to(notDesktop) {
    position: fixed;

    box-sizing: border-box;
    width: 200px;
    max-width: 200px;
    height: calc(100% - 80px);
    overflow-y: auto;

    transform: translateX(-200px);
    transition: transform 0.3s;

    padding: 30px 10px;

    &--active {
      transform: translateX(0);
      transition: transform 0.3s;
    }
  }

  @include mixins.respond-to(desktopM) {
    width: 17%;
  }


  &__logo-link {
    display: inline-block;

    width: fit-content;
    height: fit-content;

    margin: 0 0 70px 0;

    @include mixins.respond-to(notDesktop) {
      display: none;
    }
  }

  &__logo-icon {
    vertical-align: top;
  }

  &__main-nav {
    width: 100%;
    height: 100%;
  }

  &__main-nav-wrapper {

    @include mixins.respond-to(notDesktop) {
      padding: 0 0 30px 0;
    }

    @include mixins.respond-to(desktopM) {
      position: sticky;
      top: 30px;
    }
  }

  &__main-nav-list {
    display: flex;
    flex-direction: column;

    width: 100%;

    margin: 0 0 165px 0;

    @include mixins.respond-to(notDesktop) {
      margin: 0 0 60px 0;
    }

    & .current_page_item .side-menu__main-nav-link {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;

        width: 20px;
        height: 3px;
        background-color: var(--color-amaranth);

        transform: translateY(-50%);
      }
    }

    & .current_page_item:hover .side-menu__main-nav-link {
      color: var(--color-black);
    }
  }

  &__main-nav-item {
    display: flex;

    height: fit-content !important;

    padding: 15px 0 5px 0;

    &:hover .side-menu__main-nav-link {
      color: var(--color-amaranth);

      transition: color 0.1s;
    }

    &:first-child {
      padding: 0 0 5px 0;
    }

    &:last-child {
      padding: 15px 0 0 0;
    }
  }

  &__main-nav-select {
    position: relative;


    @include mixins.respond-to(notDesktop) {
      display: flex;
      flex-direction: column;

      // &--active {
      //   & .side-menu__main-nav-sublist {
      //     display: flex;
      //   }
      // }
    }

    @include mixins.respond-to(desktopS) {
      &:hover {
        & .side-menu__main-nav-sublist {
          opacity: 1;

          transform: translate(0, -50%);
          pointer-events: all;

          transition: opacity 0.3s, transform 0.3s;
        }
      }
    }
  }

  &__main-nav-sublist {
    position: absolute;
    top: 50%;
    left: calc(100% - 1px);

    display: flex;
    flex-direction: column;
    gap: 12px;

    min-width: 250px;
    background: var(--color-white);
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.1);
    border-radius: 0 8px 8px 0;
    pointer-events: none;
    opacity: 0;

    transform: translate(30%, -50%);
    transition: opacity 0.3s, transform 0.3s;

    padding: 10px 15px;

    z-index: 100;

    @include mixins.respond-to(notDesktop) {
      // position: relative;
      // top: auto;
      // left: auto;

      display: none;

      // min-width: auto;
      // opacity: 1;

      // transform: none;

      // margin: 15px 0 0 0;
    }
  }

  &__main-nav-subitem {
    &:hover {
      & .side-menu__main-nav-sublink {
        color: var(--color-amaranth);

        transition: color 0.1s;
      }
    }
  }

  &__main-nav-link,
  .side-menu__main-nav-sublink {
    position: relative;

    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: var(--color-black);

    transition: color 0.1s;
  }

  &__main-nav-link {
    display: inline-block;

    width: 100%;

    padding: 0 30px 0 30px;
  }

  &__main-nav-sublink {
    display: inline-block;

    width: 100%;

    padding: 0 0 12px 0;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 1px;
      background-color: #E7E7E7;
    }
  }

  &__main-nav-subitem:last-child .side-menu__main-nav-sublink::after {
    display: none;
  }

  &__main-nav-subitem:last-child .side-menu__main-nav-sublink {
    padding: 0;
  }

  &__main-nav-subitem:only-child .side-menu__main-nav-sublink {
    padding: 0;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    padding: 0 30px 0 0;

    @include mixins.respond-to(notDesktop) {
      gap: 15px;

      & .side-menu__contacts-item {
        display: flex;
      }
    }
  }

  &__tel-link {
    display: inline-block;

    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: var(--color-black);

    transition: color 0.1s;

    &:hover {
      color: var(--color-amaranth);

      transition: color 0.1s;
    }

    @include mixins.respond-to(notDesktop) {
      font-size: 18px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    cursor: pointer;
  }

  &__button-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: var(--color-amaranth);
  }

  &__contacts-item {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @include mixins.respond-to(notDesktop) {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }

  &__contacts-item-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: var(--color-white);

    @include mixins.respond-to(notDesktop) {
      color: var(--color-black) !important;
    }
  }
}