:root {
	// Цвета
	--color-white: #ffffff;
	--color-black: #000000;

	--color-amaranth: #ed2266;
	--color-royal-blue: #4169e1;

	// Шрифты
	--font-family-default: 'Circe', system-ui, sans-serif;

	// Размер контейнера
	--container-width: 1300px;
}